body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 16px 24px;
}

.header-wrapper > .menu {
  display: flex;
}

.header-wrapper > .menu > a {
  background-color: white;
  padding: 8px 16px;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.3s background-color ease-out;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper > .menu > a:hover {
  background-color: gainsboro;
}

.header-wrapper > .menu > a:first-child {
  border-radius: 4px 0 0 4px;
}

.header-wrapper > .menu > a:last-child {
  border-radius: 0 4px 4px 0;
}

.header-wrapper > .logo {
  width: auto;
  height: 40px;
  border-radius: 100px;
}

@media only screen and (max-width: 600px) {
  .header-wrapper {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 14px;
  }
}

.main-content {
  padding: 24px;
}

.main-content .form-section {
  display: flexbox;
  justify-content: space-evenly;
  align-items: start;
}

.main-content .form-section form,
.main-content .form-section div {
  width: 100%;
}

.img-slideshow {
  width: 100%;
}

.facilitations {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.facilitations div {
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
  width: 100%;
  border: 1px solid black;
  background-color: #ccc;
  margin: 20px 0;
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.visi-misi {
  display: flexbox;
  justify-content: space-around;
}
.visi-misi > div {
  width: 60%;
  padding-bottom: 20px;
}

.visi-misi h3 {
  font-weight: bold;
  font-size: 23px;
}

.visi-misi p {
  font-family: sans-serif;
  font-size: 130%;
}

.visi-misi ol {
  font-family: sans-serif;
  font-size: 130%;
}

.message {
  border-top: 1px solid #8d8d8d;
}

.message-us {
  display: flex;
  justify-content: space-around;
}

.message h2 {
  font-size: 3rem;
  margin-left: 10%;
}
.col-2 {
  font-weight: 500;
}

.col-3 {
  display: flex;
  justify-content: start;
  text-align: center;
  margin-left: 1rem;
}

#name,
#date,
#pesan {
  width: 100%;
  height: 3rem;
  border-radius: 0.6rem;
  margin-top: 1rem;
}

#pesan {
  border-radius: 0.6rem;
  width: 100%;
  height: 10rem;
}

.submit-btn {
  margin-top: 1rem;
  height: 3rem;
  width: 100%;
}

.return {
  width: 40rem;
  margin-left: 4rem;
  border: 1px solid #8d8d8d;
  border-radius: 1rem;
}

.point {
  font-weight: 800;
  margin-left: 1rem;
}

.return .point span {
  font-weight: 100;
}

.return .returnText {
  display: none;
}

footer {
  border-top: 1px solid #8d8d8d;
  font-weight: 100;
  text-align: right;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #dbdbdb;
}

footer p {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .message h2 {
    text-align: center;
    margin-left: 0;
  }

  .return {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
    min-height: 20rem;
  }
}